@import url('https://fonts.googleapis.com/css?family=Roboto');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1
{
    background-color: #E0F2F1;
    height: 10%;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0px 0px 8px gray;
    font-family: 'Roboto', sans-serif;
}
#textH1
{
    box-shadow: 0px 0px 0px;
    color: #26A69A;
}
body
{
    background-color: #26A69A;
}

.score-board
{
    margin: 100px auto;
    border-radius: 10px;
    border: 4px solid #E8EAF6;
    width:200px;
    color: #E8EAF6;
    font-size: 40px;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    box-shadow: 0px 2px 7px gray;
    
}


.badge
{
    background-color: #00796B;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 2px 11px;

}

#user-label
{
    position: absolute;
    top:30px;
    left:-65px;
    border-radius: 50px;
    box-shadow: 0px 0px 7px gray;

}
#pc-label
{
    position: absolute;
    top:30px;
    right:-75px;
    border-radius: 50px;
    box-shadow: 0px 0px 7px gray;
}

.result
{
    font-size: 40px;
    color:white;
}
.result > p
{
    font-weight: bold;
    text-align: center;
}

.choices
{
    text-align: center;
}

.choice
{
    display:inline-block;
    padding: 30px 30px;  
}

img
{
    width:100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gray;
}

img:hover
{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px #82c9bf;
}